<h1>Flights#new</h1>
<p>Find me in app/views/flights/new.html.erb</p>

<h3>Form</h3>

<%= form_with model: @flight do |f| %>

    <%= f.label :depart_date %> 
    <%= f.datetime_field :depart_date %> 

    <%= f.label :return_date %> 
    <%= f.datetime_field :return_date %> 

    <%= f.label :airline_id %> 
    <%= f.number_field :airline_id %> 

    <%= f.label :user_id %> 
    <%= f.number_field :user_id %> 

    <%= f.submit "Create a Booking" %>

<% end >%